/* Write your CSS here */
.not-found-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.not-found {
  height: 600px;
  width: 600px;
}
.not-found-heading {
  font-size: 35px;
  font-family: 'Roboto';
}
.description {
  font-size: 20px;
}
